{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Survival</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <label for="age">Age:</label><br>
            <input type="number" step="any" name="age" id="age"><br><br>
            <label for="sibsp">Number of Siblings/Spouses Aboard:</label><br>
            <input type="number" step="any" name="sibsp" id="sibsp"><br><br>
            <label for="parch">Number of Parents/Children Aboard:</label><br>
            <input type="number" step="any" name="parch" id="parch"><br><br>
            <label for="fare">Fare:</label><br>
            <input type="number" step="any" name="fare" id="fare"><br><br>
            <label for="sex">Sex:</label><br>
            <select name="sex" id="sex"><br><br>
            <option></option>
            <option value=male>Male</option>
            <option value=female>Female</option>
            </select><br><br>
            <label for="class">Passenger Class:</label><br>
            <select name="class" id="class"><br><br>
            <option></option>
            <option value=first_class>First Class</option>
            <option value=second_class>Second Class</option>
            <option value=third_class>Third Class</option>
            </select><br><br>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}
